{% extends 'base.html' %} {% load static %} {% block content %}
<!-- start: body area -->
<div class="wrapper">
  {% include 'header.html' %}
  <!-- start: page toolbar -->

  <!-- start: page body -->
  <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
    <div class="container-fluid">
        <div class="card p-md-4 p-2">
          <div class="row-title mb-2 d-flex justify-content-between">
            <h5 class="fw-light mb-0">
              Spreadsheet<span class="fw-bold ms-2">({{ total_activities }})</span>
            </h5>
            <a href="{% url 'export_readings_csv' %}" class="btn btn-outline-secondary">
              Export to CSV
            </a>
          </div>
          <div class="card">
            <div class="card-body">
              <table class="table align-middle mb-0 card-table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>pH</th>
                        <th>Temperature (°C)</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td colspan="4" class="text-center">Loading data...</td>
                  </tr>
                </tbody>              
              </table>
            </div>
          </div>
        </div>
      </div>      
  </div>
  <!-- start: page footer -->
  {% include 'footer.html' %}
</div>

{% endblock %}
