<footer class="page-footer px-xl-4 px-sm-2 px-0 py-3">
  <div
    class="container-fluid d-flex flex-wrap justify-content-between align-items-center"
  >
    <p class="col-md-4 mb-0 text-muted">
      © 2024
      <a
        href="{% url 'dashboard' %}"
        target="_blank"
        title="ThemeMakker Infotech LLP"
        >AquaGuard</a
      >, All Rights Reserved.
    </p>
    <a
      href="#"
      class="col-md-4 d-flex align-items-center justify-content-center my-3 my-lg-0 me-lg-auto"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 200 50"
        height="50"
        width="200"
      >
        <!-- Gradient with mixed colors -->
        <defs>
          <linearGradient id="waterGradient" x1="0" y1="0" x2="1" y2="1">
            <stop offset="0%" stop-color="#00ac9a" />
            <stop offset="100%" stop-color="#00aaff" />
          </linearGradient>
        </defs>
        <!-- Text -->
        <text
          x="10"
          y="35"
          font-family="Arial, sans-serif"
          font-size="30"
          font-weight="bold"
          fill="url(#waterGradient)"
        >
          AquaGuard
        </text>
        <!-- Wave icon -->
        <path
          d="M10,45 C20,35 30,35 40,45 C50,55 60,55 70,45"
          stroke="url(#waterGradient)"
          stroke-width="2"
          fill="none"
        />
      </svg>
    </a>
    <ul class="nav col-md-4 justify-content-center justify-content-lg-end">
      <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link px-2 text-muted"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'table' %}" class="nav-link px-2 text-muted"
          >Spreadsheet</a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'activities' %}" class="nav-link px-2 text-muted"
          >Logs</a
        >
      </li>
    </ul>
  </div>
</footer>
